<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CBCategoryViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D1A635521CF8370900B3A523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1A6356B1CF8370A00B3A523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1A635761CF8370A00B3A523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
